{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block title %}
    Disponibilités
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Websites availability</h2>

        <div class="row">
            {% for key, state in states %}
                <div class="col-md-4">
                    <div class="panel panel-{% if state.state == 'on' %}success{% else %}danger{% endif %} iframes" id="{{ key }}">
                        <div class="panel-heading">{{ state.domain }}</div>
                        <div class="panel-body" style="height:400px;">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row text-center">
            <button class="btn btn-primary" id="refresh">Refresh</button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        var jxhr;
        $(document).ready(function() {
            loadIframes();
            setInterval(function() {
                $('body .container .row').first().prepend('<div class="alert alert-info">Chargement en cours...</div>');
                loadIframes();
                $('.alert').remove();
            }, 360000);
        }).on('click', '#refresh', function() {
            if (jxhr && typeof jxhr.cancel == 'function') jxhr.cancel();
            jxhr = $.ajax({
                url: "/",
                cache: false,
                beforeSend: function(xhr) {
                    $('.alert').remove();
                    $('body .container .row').first().prepend('<div class="alert alert-info">Chargement en cours...</div>');
                }
            })
            .done(function(data) {
                loadIframes();
                $('.alert').remove();
            });
        });

        function loadIframes() {
            $('.iframes').each(function(index) {
                var domain = $(this).find('.panel-heading').html();
                $(this).find('.panel-body').html('<iframe src="' + domain + '" style="height:100%;"></iframe>')
            });
        }
    </script>
{% endblock %}